/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poiret One', serif;
  color: #fff; /* Texto blanco por defecto */
  background-color: #f9f9f9;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Fuente Poiret One */
.poiret-one-regular {
  font-family: "Poiret One", serif;
  font-weight: 400;
  font-style: normal;
}

/* Sticky Header */
.sticky-header {
  position: sticky;
  top: 0;
  background-color: #2d4051; /* Color de fondo */
  color: #fff; /* Color blanco para el texto */
  padding: 1em 0;
  font-size: 2.5em;
  text-align: center;
  z-index: 10; /* Asegura que esté encima de otros elementos */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}


/* Hero Section */
.hero {
  position: relative;
  background: url('DSC_8931.jpg') no-repeat center center;
  background-size: cover;
  padding: 10em 1em;
  text-align: center;
  color: black;
  width: 100%;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo semitransparente blanco */
  z-index: 1; /* Asegura que la capa esté debajo del texto */
}

/* Aseguramos que el texto esté por encima de la capa de fondo */
.hero-title,
.hero-subtitle, .hero-date {
  position: relative;
  z-index: 2; /* Asegura que el texto esté por encima de la capa */
  color: #000; /* Texto negro para mayor contraste */
}

.hero-title {
  font-size: 4.5em;
  margin-bottom: 0.3em;
  font-family: "WindSong", serif;
  font-weight: 500;
}

.hero-subtitle {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 0.2em;
}

.hero-date {
  font-size: 1.8em;
  font-style: italic;
  margin-top: 0.2em;
}

/* Secciones */
.section {
  padding: 6em 2em;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  color: #fff; /* Texto blanco */
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.section-title {
  font-size: 2.8em;
  margin-bottom: 0.5em;
  font-family: "WindSong", serif;
  font-weight: 500;
}

.section-text {
  font-size: 1.8em;
  margin-bottom: 2em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Fondo de las secciones */
.details {
  background-color: #646885; /* Fondo para "¿Dónde y Cuándo?" */
}

.about {
  background-color: #516276; /* Fondo para "Nuestra Historia" */
}

.countdown {
  background-color: #8c9dad; /* Fondo para la cuenta regresiva */
}

.guests {
  background-color: #2d4051; /* Fondo para "Número de Invitados" */
}

/* Estilo para las ubicaciones */
.event-location {
  font-size: 1.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.event-location-content {
  width: 48%;
  text-align: left;
}

.event-location-image {
  width: 48%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

/* Estilo para el botón del mapa */
.location-button {
  background: #8c9dad; /* Color principal */
  color: #fff;
  border: 2px solid #2d4051; /* Borde oscuro */
  padding: 1em 2.5em;
  font-family: "Poiret One", serif;
  font-size: 1.5em;
  cursor: pointer;
  transition: background 0.3s ease, border 0.3s ease;
  border-radius: 5px;
  margin-top: 2em;
}

.location-button:hover {
  background: #516276; /* Color de hover */
  border-color: #646885; /* Cambio de borde al hacer hover */
}

/* Estilo Cuenta Regresiva */
.countdown-timer {
  font-size: 2.5em;
  color: #fff;
  font-weight: bold;
}

/* Animaciones de entrada */
.section.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Sección de Invitados */
.guests .section-title {
  font-size: 2.8em;
  margin-bottom: 0.5em;
  color: white; /* Color destacado */
}

.guests .section-text {
  font-size: 1.8em;
  margin-bottom: 2em;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.8;
}

.guests span#allowed-guests {
  font-weight: bold;
  color: #8c9dad; /* Color para el número de acompañantes */
}

#music-button {
  position: fixed; /* Posicionamiento fijo en la pantalla */
  bottom: 20px; /* Ajusta la distancia desde la parte inferior */
  left: 20px; /* Ajusta la distancia desde la parte izquierda */
  background-color: #2d4051; /* Color de fondo */
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%; /* Hace el botón redondeado */
  z-index: 9999; /* Asegura que esté encima de todos los demás elementos */
  transition: background-color 0.3s ease;
}

#music-button:hover {
  background-color: #8c9dad; /* Color cuando el mouse pasa sobre el botón */
}

